@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Open+Sans&display=swap');

body {
    background: radial-gradient(black, grey);

    header {
        .nav__header {
            position: fixed;
            top: 0px;
            left: 0px;
            max-width: 50px;
            min-height: 100%;
            box-sizing: border-box;
            background: radial-gradient(black, grey);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            box-shadow: inset -1px 1px 5px 0px grey, inset -1px -1px 5px 0px grey, -1px 1px 5px 0px black, -1px -1px 5px 0px black;

            .button__nav {
                width: 100px;
                height: 100px;
                box-sizing: border-box;
                background: radial-gradient(black, grey);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0px 50px 50px 0px;
                box-shadow: inset -1px 1px 5px 0px grey, inset -1px -1px 5px 0px grey, -1px 1px 5px 0px black, -1px -1px 5px 0px black;

                img {
                    height: 64px;
                    width: 64px;
                    border-radius: 50%;
                }

                &:hover {
                    width: 150px;
                    animation: 0.5s linear 0s infinite alternate nextlight;

                    img {
                        animation: 0.5s linear 0s infinite alternate navlight;
                        transform: translateX(25px);
                    }
                }

                &.content-clicked {
                    width: 150px;
                    filter: drop-shadow(0px 0px 5px cyan);

                    img {
                        transform: translateX(25px);
                    }
                }
            }
        }
    }

    main {
        .theme-section {
            margin: 0px auto;
            margin-top: 50px;
            display: none;

            @media screen and (min-height: 801px) {
                margin-top: 160px;
            }

            &.show-content {
                display: block;
            }

            &.homepage {
                margin-top: 100px;
            }

            .container-img_homepage {
                margin: 0px auto;
                position: relative;
                width: 500px;
                margin-top: -50px;

                .logo_homepage {
                    display: block;
                    margin: 0px auto;
                    width: 100%;
                }

                .cadre-logo_homepage {
                    position: absolute;
                    display: block;
                    width: 550px;
                    height: 595px;
                    top: -80px;
                    left: -5px;
                    filter: drop-shadow(-1px 1px 5px black) drop-shadow(-1px -1px 5px black);
                }
            }

            .title_homepage {
                text-align: center;
                color: white;
                font-size: 110px;
                font-family: 'Road Rage', cursive;
                margin: 0px auto;
                margin-top: 25px;
                position: relative;
                line-height: 140px;
                width: 400px;
                box-sizing: border-box;
                position: relative;
                box-shadow: inset -1px 1px 5px 0px grey, inset -1px -1px 5px 0px grey, -1px 1px 5px 0px black, -1px -1px 5px 0px black;
                border-radius: 70px;
                overflow: hidden;
                text-shadow: -1px 1px 5px black, -1px -1px 5px black;

                @media screen and (min-height: 801px) {
                    margin-top: 50px;
                }

                .bg_title_homepage {
                    position: absolute;
                    top: -130px;
                    left: 0px;
                    z-index: -1;
                    width: 400px;
                    animation: 2s ease-out 1s infinite alternate spotlight;
                }
            }

            .container-cadre {
                box-sizing: border-box;
                width: 900px;
                height: 500px;
                margin: 0px auto;
                background: white;
                position: relative;

                .cadre {
                    position: absolute;
                    top: -80px;
                    left: -18px;
                    width: 1000px;
                    height: 600px;
                    display: block;
                    filter: drop-shadow(-1px 1px 5px black) drop-shadow(-1px -1px 5px black);
                    z-index: 2;
                }

                .spot {
                    position: absolute;
                    transform: rotate(180deg);
                    width: 200px;
                    height: 100px;
                    top: 500px;
                    left: 350px;
                    animation: 3s ease-in 1s infinite alternate spotlight;
                }

                .carousel1,
                .carousel2,
                .carousel3,
                .carousel4,
                .carousel5 {
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    min-height: 100%;
                    width: 100%;
                    text-align: center;
                    overflow: hidden;

                    &.active {
                        display: flex;
                    }

                    #s1s1_img,
                    #s1s2_img {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                        display: block;
                    }

                    h2 {
                        position: absolute;
                        z-index: 1;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 40px;
                        text-align: left;
                        align-self: flex-start;
                        top: 295px;
                        left: 105px;
                        justify-self: flex-start;

                        span {
                            animation: 1s ease-in 1s infinite blinking;
                        }
                    }
                }
            }

            .container-button {
                box-sizing: border-box;
                width: 450px;
                height: auto;
                margin: 0px auto;
                display: flex;
                justify-content: space-between;
                margin-top: 50px;

                .button-carousel {
                    position: relative;
                    cursor: pointer;

                    .next1,
                    .prev1,
                    .next2,
                    .prev2,
                    .next3,
                    .prev3,
                    .next4,
                    .prev4,
                    .next5,
                    .prev5 {
                        height: 64px;
                        width: 64px;
                        border-radius: 50%;
                        display: block;
                        opacity: 0.2;
                    }

                    .bg-button {
                        position: absolute;
                        width: 100px;
                        display: block;
                        z-index: -1;
                        top: -18px;
                        left: -18px;
                        background: radial-gradient(black, grey);
                        border-radius: 50%;
                        box-shadow: inset -1px 1px 5px 0px grey, inset -1px -1px 5px 0px grey, -1px 1px 5px 0px black, -1px -1px 5px 0px black;
                    }

                    &:hover {
                        animation: 0.5s linear 0s infinite alternate nextlight;

                        img {
                            animation: 0.5s linear 0s infinite alternate nextlight;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@keyframes nextlight {
    from {
        filter: drop-shadow(0px 0px 0px cyan);
    }

    to {
        filter: drop-shadow(0px 0px 5px cyan);
    }
}

@keyframes spotlight {
    from {
        filter: drop-shadow(0px 0px -1px cyan);
    }

    to {
        filter: drop-shadow(0px 0px 1px cyan);
    }
}

@keyframes navlight {
    from {
        filter: none;
    }

    to {
        filter: drop-shadow(0px 0px 0px cyan);
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }
}